.background {
    background-image: linear-gradient(to bottom right, rgba(84, 91, 166, 0.548), rgb(31, 57, 135));
    width: 100%;
    height: 1000px;
    position: fixed;
    overflow: scroll;
}

#sprite {
    width: 100px;
    height: 100px;
    /* background-image: url("./assets/images/birdfly1.png"); */
    background-size: contain;
    /* transition-duration: 1s; */
}

.textbox {
    position: absolute;
    display: flex;
    margin: 20% 20%;
    width: 500px;
    height: 100px;
    overflow: auto;
}

.textbox p {
    margin: 3px;
    transition: 0.5s;
}

/* .sprite:hover {
    transform: translate(500px, 500px);
} */